body {
    margin: 0px auto;
}

header {
    display: flex;
    box-sizing: border-box;
    background-color: beige;
    min-height: 70px;
}

nav {
    max-width: 75%;
    display: inline-block;
    margin: auto 5% auto;
}


nav li {
    display: inline-block;
    min-width: 150px;
    text-align: center;
}

main {
    max-width: 1000px;
    margin: auto;
}

#website-name {
    display: inline-block;
    font-size: 30px;
    min-width: 240px;
    margin: auto 10px;
}


